#watermark_position td {
	border: 1px solid #DFDFDF;	
}

select[name="watermark_text[font]"] option {
	font-size: 14pt;
}

fieldset.wr_width, .wr_width {
	width: 600px;
}

td.wr_width {
	width: 600px;	
}

.wr_width [name="watermark_text[value]"], .wr_width [name="watermark_text[font]"] {
	width: 100%;	
}

.wr_width [name="watermark_text[color]"] {
	width: 55px;	
}

.wr_right {
	width: none;
	text-align: right;
}

.form-table, .form-table th.nowidth {
	width: auto;
	clear:none;
		
}





		
		li.sm_hint {
			color:green;
		}
		
		li.sm_optimize {
			color:orange;
		}
		
		li.sm_error {
			color:red;
		}
		
		input.sm_warning:hover {
			background: #ce0000;
			color: #fff;
		}
		
		a.sm_button {
			padding:4px;
			display:block;
			padding-left:25px;
			background-repeat:no-repeat;
			background-position:5px 50%;
			text-decoration:none;
			border:none;
		}
		
		a.sm_button:hover {
			border-bottom-width:1px;
		}

		
		div.sm-update-nag p {
			margin:5px;
		}
		
		


		
				.sm-padded .inside {
					margin:12px!important;
				}
				.sm-padded .inside ul {
					margin:6px 0 12px 0;
				}
				
				.sm-padded .inside input {
					padding:1px;
					margin:0;
				}

				

			